In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
keyword.iskeyword('try')

True

In [4]:
name = 'puja'
my_idenfier = name

In [5]:
keyword.iskeyword('puja')

False

In [6]:
name

'puja'

In [7]:
/* heelo*/

SyntaxError: invalid syntax (Temp/ipykernel_8640/2232484739.py, line 1)

In [8]:
#hello

In [9]:
s = 10 
print(s)

10

In [10]:
#Global variables
a = 10
def function():
    global a
    a += 10
    print(a)
print(a)
function()

10
20

In [12]:
#list

my_list = ["CSK","RCB","MI"]
print(my_list)

['CSK', 'RCB', 'MI']

In [13]:
#list-(Duplicate value)

my_list = ["CSK","RCB","MI","CSK"]
print(my_list)

['CSK', 'RCB', 'MI', 'CSK']

In [14]:
len(my_list)

4

In [15]:
print(len(my_list))

4

In [17]:
list1 = ["Ind","AUS","Eng"]
list2 = [ 1,2,3,4,5]
list3 = [True, False]

print(list1,list2,list3)

['Ind', 'AUS', 'Eng'] [1, 2, 3, 4, 5] [True, False]

In [18]:
list1 = ["Ind","AUS","Eng",1,2,3,4,5,"Male","Female"]
print(list1)

['Ind', 'AUS', 'Eng', 1, 2, 3, 4, 5, 'Male', 'Female']

In [19]:
#Tuble
tuple1 = ("Ind","AUS","Eng")
print(tuple1)

('Ind', 'AUS', 'Eng')

In [23]:
my_tuple = ("CSK","RCB","MI","CSK")
print(my_tuple)

('CSK', 'RCB', 'MI', 'CSK')

In [29]:
my_tuple = ("CSK","RCB","MI")
print(my_tuple)

('CSK', 'RCB', 'MI')

In [24]:
print(len(my_tuple))

4

In [31]:
#sets
sets1 = {"Ind","AUS","Eng","AUS","Eng"}
print(sets1)

{'Ind', 'Eng', 'AUS'}

In [33]:
sets1 = {"Ind","AUS","Eng","AUS","Eng""Ind","AUS","Eng",1,2,3,4,5,"Male","Female"}
print(sets1)

{1, 2, 3, 4, 5, 'Male', 'Female', 'EngInd', 'Ind', 'Eng', 'AUS'}

In [34]:
print(len(sets1))

11

In [35]:
name

'puja'

In [1]:
#string
string1 = "{1} {0} {2}".format('welcome','to','UST')
print('positional order:')
print(string1)

positional order:
to welcome UST

In [2]:
A = 10
B = float(A)
print(B)

10.0

In [3]:
A = 10.78
B = int(A)
print(B)

10

In [5]:
a = [1,2,3,4,11,5]
a.remove(11)
print(a)

[1, 2, 3, 4, 5]

In [10]:
list1 = ['a','b','c','b','c','a','c','a']
b=list(dict.fromkeys(list1))
print(b)

['a', 'b', 'c']

In [13]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
print(mylist[2:5])

['CSK', 'SRH', 'RR']

In [14]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
print(mylist[-1])

KKR

In [15]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
print(mylist[:4])

['RCB', 'MI', 'CSK', 'SRH']

In [16]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
print(mylist[2:])

['CSK', 'SRH', 'RR', 'KKR']

In [17]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
print(mylist[-4:-1])

['CSK', 'SRH', 'RR']

In [20]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
if "IND" in mylist:
    print("IND is in  mylist")

In [26]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist[2] = "IND"
print(mylist)

['RCB', 'MI', 'IND', 'SRH', 'RR', 'KKR']

In [25]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist[1:2] = ["IND","ENG"]
print(mylist)

['RCB', 'IND', 'ENG', 'CSK', 'SRH', 'RR', 'KKR']

In [27]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
print(mylist)

['RCB', 'MI', 'CSK', 'SRH', 'RR', 'KKR']

In [28]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.insert(2,"IND")
print(mylist)

['RCB', 'MI', 'IND', 'CSK', 'SRH', 'RR', 'KKR']

In [31]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.append("IND")
print(mylist)

['RCB', 'MI', 'CSK', 'SRH', 'RR', 'KKR', 'IND']

In [33]:
mylist1 = ["Python","Java","PHP"]
mylist2 = ["C","C++","Dotnet"]
mylist1.extend(mylist2)
print(mylist1)

['Python', 'Java', 'PHP', 'C', 'C++', 'Dotnet']

In [34]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.remove("SRH")
print(mylist)

['RCB', 'MI', 'CSK', 'RR', 'KKR']

In [35]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.pop(1)
print(mylist)

['RCB', 'CSK', 'SRH', 'RR', 'KKR']

In [36]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.pop()
print(mylist)

['RCB', 'MI', 'CSK', 'SRH', 'RR']

In [37]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
del mylist
print(mylist)

NameError: name 'mylist' is not defined

In [38]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
print(mylist)

['RCB', 'MI', 'CSK', 'SRH', 'RR', 'KKR']

In [39]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.clear()
print(mylist)

[]

In [40]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
for x in mylist:
    print(x)

RCB
MI
CSK
SRH
RR
KKR

In [41]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
for x in range(len(mylist)):
    print(mylist[x])

RCB
MI
CSK
SRH
RR
KKR

In [43]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
i = 0
while i < len(mylist):
    print(mylist[i])
    i = i + 1

RCB
MI
CSK
SRH
RR
KKR

In [44]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.sort()
print(mylist)

['CSK', 'KKR', 'MI', 'RCB', 'RR', 'SRH']

In [45]:
numlist = [100, 55, 65, 76, 82, 21]
numlist.sort()
print(numlist)

[21, 55, 65, 76, 82, 100]

In [46]:
numlist = [100, 55, 65, 76, 82, 21]
numlist.sort(reverse = True)
print(numlist)

[100, 82, 76, 65, 55, 21]

In [47]:
alist = ["chennai","bangalore","Hyderabad","Trivandrum","Delhi"]
alist.sort()
print(alist)

['Delhi', 'Hyderabad', 'Trivandrum', 'bangalore', 'chennai']

In [50]:
alist = ["chennai","bangalore","Hyderabad","Trivandrum","Delhi"]
alist.sort(key = str.lower)
print(alist)

['bangalore', 'chennai', 'Delhi', 'Hyderabad', 'Trivandrum']

In [52]:
alist = ["chennai","bangalore","Hyderabad","Trivandrum","Delhi"]
alist.reverse()
print(alist)

['Delhi', 'Trivandrum', 'Hyderabad', 'bangalore', 'chennai']

In [54]:
alist = ["chennai","bangalore","Hyderabad","Trivandrum","Delhi"]
blist = list(alist)
print(blist)

['chennai', 'bangalore', 'Hyderabad', 'Trivandrum', 'Delhi']

In [55]:
mytuple = ("sandeep","umrah","jeffry","anil","ghousiya")
print(mytuple)

('sandeep', 'umrah', 'jeffry', 'anil', 'ghousiya')

In [56]:
mytuple = ("sandeep","umrah","jeffry","anil","ghousiya")
print(len(mytuple))

5

In [58]:
x = ("sandeep","umrah","jeffry","anil","ghousiya")
y = list(x)

print(x)

('sandeep', 'umrah', 'jeffry', 'anil', 'ghousiya')

In [59]:
x = ("sandeep","umrah","jeffry","anil","ghousiya")
y = list(x)

print(y)

['sandeep', 'umrah', 'jeffry', 'anil', 'ghousiya']

In [67]:
print(y)

('sandeep', 'umrah', 'jeffry', 'anil', 'ghousiya')

In [64]:
z = tuple(y)
print(z)

('sandeep', 'umrah', 'jeffry', 'anil', 'ghousiya')

In [68]:
mysets = {"sandeep","umrah","jeffry","anil","ghousiya"}
print(mysets)

{'ghousiya', 'anil', 'jeffry', 'sandeep', 'umrah'}

In [70]:
mysets = ("sandeep","umrah","umrah","jeffry","anil","ghousiya")
print(mysets)

{'ghousiya', 'anil', 'jeffry', 'sandeep', 'umrah'}

In [71]:
mysets = (1,"umrah","umrah","jeffry","anil","ghousiya")
print(mysets)

(1, 'umrah', 'umrah', 'jeffry', 'anil', 'ghousiya')

In [76]:
#Dictionary
mydict = {
    "brand" : "Maruti",
    "model" : "Swift",
    "year" : "1983"
}
print(mydict)

{'brand': 'Maruti', 'model': 'Swift', 'year': '1983'}

In [77]:
print(mydict["brand"])

Maruti

In [81]:
mydict = {
    "brand" : "Maruti",
    "model" : "Swift",
    "year" : "1983",
    "year" : "1985"
}
print(mydict)

{'brand': 'Maruti', 'model': 'Swift', 'year': '1985'}

In [82]:
print(mydict.keys())

dict_keys(['brand', 'model', 'year'])

In [83]:
print(mydict.values())

dict_values(['Maruti', 'Swift', '1985'])

In [86]:
mydict = {
    "brand" : "Maruti",
    "model" : "Swift",
    "year" : "1983",
    "year" : "1985"
}
mydict["model"]="celerio"
print(mydict)

{'brand': 'Maruti', 'model': 'celerio', 'year': '1985'}

In [156]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [88]:
num =10.00
num1 = int(num)
print(num1)

10

In [89]:
a = """hgfdsdfghj
mjhgfdsdfghjk
kjhgfdsdfghnjmk
"""
print(a)

hgfdsdfghj
mjhgfdsdfghjk
kjhgfdsdfghnjmk

In [96]:
str = "hello,world"
#print(str[2:5])
#print(str[:5])
print(str[5:])

,world

In [97]:
str = "hello,world"
print(str.upper())

HELLO,WORLD

In [98]:
str = "hello,world"
print(str.lower())

hello,world

In [99]:
str = "Hello,world"
print(str.replace("H","J"))

Jello,world

In [100]:
str = "Hello,world"
print(str.replace("o","q"))

Hellq,wqrld

In [101]:
a = "hello"
b = "world"
c = a + b
print(c)

helloworld

In [151]:
valueFirst = "hello"
value_second = "world"
SumOfTwoValue = valueFirst + value_second
print(SumOfTwoValue)

helloworld

In [109]:
#Arithmetic operator
x = 15
y = 4

print('x + y =',x+y)

print('x - y =',x-y)

print('x * y =',x*y)

print('x / y =',x/y)

print('x // y =',x//y)

print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [4]:
#Assignment operators
x = 15

print('x =',x)

x=10
x += 3
print('x +=',x)

x=10
x -= 3
print('x -=',x)

x=10
x *= 3
print('x *=',x)

x=10
x /= 3
print('x /=',x)

x=10
x %= 3
print('x %=',x)

x=10
x //= 5
print('x //=',x)

x=10
x **= 3
print('x **=',x)

x=1
x &= 8
print('x &=',x)

x=10
x |= 3
print('x |=',x)

x=10
x >>= 3
print('x >>=',x)

x=5
x <<= 3
print('x <<=',x)

x=0
x ^= 2
print('x ^=',x)

x = 15
x += 13
x -= 7
x *= 30
x /= 3.3333333333333335
x %= 1
x //= 2
x **= 1000
x &= 0
x |= 11
x >>= 1
x <<= 40
x ^= 2

In [24]:
 z= 6^8
print(z)

14

In [19]:
#Comparison operators
x = 10
y = 12

print('x == y is',x==y)

print('x != y is',x!=y)

print('x > y is',x>y)

print('x < y is',x<y)

print('x >= y is',x>=y)

print('x <= y is',x<=y)

x == y is False
x != y is True
x > y is False
x < y is True
x >= y is False
x <= y is True

In [138]:
#Logical operators
x = True
y = False

print('x and y is',x and y)
print('x and x is',x and x)

print('x or y is',x or y)
print('x or x is',x or x)

print('not x is',not x)
print('not x is',not y)

x and y is False
x and x is True
x or y is True
x or x is True
not x is False
not x is True

In [141]:
#Identity operators
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is y1)

print(x1 is not y1)

print(x2 is y2)

print(x3 is y3)

True
False
True
False

In [142]:
# Membership operators
x = 'Hello world'
y = {1:'a',2:'b'}

print('H' in x)

print('hello' not in x)

print(1 in y)

print('a' in y)

True
True
True
False

In [150]:
#Bitwise operators
x= 10
y= 4

print('x & y:',x & y)
print('x | y:',x | y)
print('x ^ y:',x ^ y)
print('~x:',~x)
print('x << y:',x >> y)
print('x << y:',x << y)

x & y: 0
x | y: 14
x ^ y: 14
~x: -11
x << y: 0
x << y: 160

In [ ]:
##Day3 python traning

In [2]:
a = 33
b = 35
if b>a:
    print("b is greater than a")

b is greater than a

In [3]:
a = 33
b = 33
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are eqaul")

a and b are eqaul

In [4]:
a = 200
b = 33
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are eqaul")
else:
    print("a is greater thab b")

a is greater thab b

In [6]:
x = 41
if x>10:
    print("Above ten")
    if x>20:
        print("also above 20")
    else:
        print("but not above 20")

Above ten
also above 20

In [7]:
color = ["red","yellow","green"]
fruits = ["apple","banana","graps"]
for x in color:
    for y in fruits:
        print(x,y)

red apple
red banana
red graps
yellow apple
yellow banana
yellow graps
green apple
green banana
green graps

In [9]:
def myfunct():
    print("Hello world")
    
myfunct()

Hello world

In [10]:
pwd

'C:\\Users\\ashok_000\\Untitled Folder'

In [24]:
import csv

In [25]:
data = open('example.csv')

In [26]:
data

In [27]:
csv_data = csv.reader(data)

In [28]:
data = open('example.csv',encoding="utf-8")
csv_data = csv.reader(data)
data_lines = list(csv_data)

In [30]:
# Looks like it worked!
data_lines[:3]

[['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city'],
 ['1',
  'Joseph',
  'Zaniolini',
  'jzaniolini0@simplemachines.org',
  'Male',
  '163.168.68.132',
  'Pedro Leopoldo'],
 ['2',
  'Freida',
  'Drillingcourt',
  'fdrillingcourt1@umich.edu',
  'Female',
  '97.212.102.79',
  'Buri']]

In [31]:
for line in data_lines[:5]:
    print(line)

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']
['1', 'Joseph', 'Zaniolini', 'jzaniolini0@simplemachines.org', 'Male', '163.168.68.132', 'Pedro Leopoldo']
['2', 'Freida', 'Drillingcourt', 'fdrillingcourt1@umich.edu', 'Female', '97.212.102.79', 'Buri']
['3', 'Nanni', 'Herity', 'nherity2@statcounter.com', 'Female', '145.151.178.98', 'Claver']
['4', 'Orazio', 'Frayling', 'ofrayling3@economist.com', 'Male', '25.199.143.143', 'Kungur']

In [32]:
len(data_lines)

1001

In [34]:
all_emails = []
for line in data_lines[1:15]:
    all_emails.append(line[3])
    print(all_emails)

['jzaniolini0@simplemachines.org']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com', 'lgamet5@list-manage.com']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com', 'lgamet5@list-manage.com', 'dhowatt6@amazon.com']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com', 'lgamet5@list-manage.com', 'dhowatt6@amazon.com', 'kherion7@amazon.com']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com', 'lgamet5@list-manage.com', 'dhowatt6@amazon.com', 'kherion7@amazon.com', 'chedworth8@china.com.cn']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com', 'lgamet5@list-manage.com', 'dhowatt6@amazon.com', 'kherion7@amazon.com', 'chedworth8@china.com.cn', 'hgasquoine9@google.ru']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com', 'lgamet5@list-manage.com', 'dhowatt6@amazon.com', 'kherion7@amazon.com', 'chedworth8@china.com.cn', 'hgasquoine9@google.ru', 'ftarra@shareasale.com']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com', 'lgamet5@list-manage.com', 'dhowatt6@amazon.com', 'kherion7@amazon.com', 'chedworth8@china.com.cn', 'hgasquoine9@google.ru', 'ftarra@shareasale.com', 'abathb@umn.edu']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com', 'lgamet5@list-manage.com', 'dhowatt6@amazon.com', 'kherion7@amazon.com', 'chedworth8@china.com.cn', 'hgasquoine9@google.ru', 'ftarra@shareasale.com', 'abathb@umn.edu', 'lchastangc@goo.gl']
['jzaniolini0@simplemachines.org', 'fdrillingcourt1@umich.edu', 'nherity2@statcounter.com', 'ofrayling3@economist.com', 'jmurrison4@cbslocal.com', 'lgamet5@list-manage.com', 'dhowatt6@amazon.com', 'kherion7@amazon.com', 'chedworth8@china.com.cn', 'hgasquoine9@google.ru', 'ftarra@shareasale.com', 'abathb@umn.edu', 'lchastangc@goo.gl', 'cceried@yale.edu']

In [35]:
full_names = []

for line in data_lines[1:15]:
    full_names.append(line[1]+' '+line[2])
full_names

['Joseph Zaniolini',
 'Freida Drillingcourt',
 'Nanni Herity',
 'Orazio Frayling',
 'Julianne Murrison',
 'Lucy Gamet',
 'Dyana Howatt',
 'Kassey Herion',
 'Chrissy Hedworth',
 'Hyatt Gasquoine',
 'Felicdad Tarr',
 'Andrew Bath',
 'Lucais Chastang',
 'Car Cerie']

In [36]:
## Writing to CSV Files

file_to_output = open('to_save_file.csv','w',newline='')

In [37]:
csv_writer = csv.writer(file_to_output,delimiter=',')

In [38]:
csv_writer.writerow(['a','b','c'])

7

In [39]:
csv_writer.writerows([['1','2','3'],['4','5','6']])

In [40]:
file_to_output.close()

In [41]:
f = open('to_save_file.csv','a',newline='')

In [42]:
csv_writer = csv.writer(f)

In [43]:
csv_writer.writerow(['new','new','new'])

13

In [44]:
f.close()