In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pujas\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\pujas\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd= 'root'    
)

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A0CF3BDBB0>

In [5]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd= 'root'    
)
cur = conn.cursor()

db = cur.execute("show databases")
for x in cur:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [6]:
# creating new database
cur.execute('create database ustdb')

In [7]:
cur = conn.cursor()

db = cur.execute("show databases")
for x in cur:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('ustdb',)
('world',)

In [16]:
import mysql.connector  

#Create the connection object   
conn = mysql.connector.connect(
    host = "localhost", 
    user = "root",
    passwd = "root",
    database = "ustdb"
)  

#creating the cursor object  
cur = conn.cursor()  
sql = "insert into Employee(Name, Id, salary, dept_id) values (%s, %s, %s, %s)"  
  
#The row values are provided in the form of tuple   
val = ("Puja", 45, 35000.00, 285) 
  
try:  
    #inserting the values into the table  
    cur.execute(sql,val)  
  
    #commit the transaction   
    conn.commit()  
      
except:  
    conn.rollback()  
  
print(cur.rowcount,"record inserted!")  
conn.close()

1 record inserted!

In [18]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd= 'root'  , 
    database ='ustdb'
)

cur = conn.cursor()
data = ('select * from Employee')

cur.execute(data)
query = cur.fetchall()
for x in query:
    print(x)

('Puja', 45, 35000.0, 285)
('Sweta', 55, 35000.0, 285)